<div *ngIf="basket?.id === null; else showBasket">
    <p class="text-center text-danger">
      Your basket is empty
    </p>
  </div>
  
  <ng-template #showBasket>
    <div class="container pt-4 flex-container">
      <div class="basket-container">
        <table class="table table-hover custom-table">
          <thead>
            <tr class="bg-info text-white">
              <th>Product</th>
              <th></th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of basket.basketItems; let i = index">
              <td>
                <a [routerLink]="['/shop/product-details', item.id]" class="text-dark text-decoration-none">
                  {{ item.name }}
                </a>
              </td>
              <td>
                <img [src]="'https://localhost:7184/' + item.image" alt="" class="product-image img-fluid">
              </td>
              <td class="description">{{ item.description }}</td>
              <td>{{ item.price| currency }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{item.price}}</td>
              <td>
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
  